@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #80B600 #F7F4EB;
}

/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #F7F4EB;
}

*::-webkit-scrollbar-thumb {
  background-color: #80B600;
  border-radius: 20px;
  border: 3px solid #F7F4EB;
}